
body {
    background-color: #f5bce802;
    color: #663333bf;
}
a {color: #ff1667;}
h1, h2, h3, h4, h5, h6 {color: #fd008b;}

nav{background-color: #de67a371;
    padding: 10px;
    margin-bottom: 30px ;
}
  
nav a:hover {color: #A595A3;
            background-color: #ffa7b4;
            
} 
h1{font-family: 'Noto Sans', sans-serif;}

/* Add a media query for tablet and smaller viewports */
@media screen and (max-width: 768px) {
    nav {
      display: block; /* Change the navigation to a block display for stacking */
      text-align: center; /* Center-align the links */
    }
  
    nav a {
      display: block; /* Change the links to block display for stacking */
      margin: 10px 0; /* Add spacing around the links */
      width: 100%; /* Make the links occupy 100% of the horizontal space */
    }
    
    /* Hide the pipe characters within the media query */
    nav span {
      display: none;
    }
  }
  